
@{
    ViewBag.Title = "Completed";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Sipariş Tamamlandı!</h2>
            <h4>Satın aldığınız ürünler en kısa zamanda kargoya verilecektir.</h4>
        </div>
    </div>
</div>


