@using Abc.MvcWebUI.Models
@model Abc.MvcWebUI.Models.Cart

<style>
    
    #cart {
        color: white;
    }
</style>

<ul class="navbar-nav  my-2 my-lg-0">
    <li id="cart" class="nav-item">
        <i class="fa fa-cart-plus" aria-hidden="true"></i>
        (@Model.CartLines.Count)
    </li>

</ul>