@using Abc.MvcWebUI.Entity;
@model IEnumerable<Product>
@{
    ViewBag.Title = "List";
}

<div class="row">

    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item active">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>

    <div class="col-md-9">

        <div class="row">

            @foreach (var urun in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="holder.js/100px160/" alt="@urun.Name">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/Home/Details/@urun.Id"> @urun.Name</a>
                            </h4>
                            <p class="card-text">
                                @urun.Description
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                @urun.Price
                            </small>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>

